@import "@catppuccin/palette/style";

@font-face {
  font-family: 'Symbols Only';
  src: url("./assets/fonts/Symbols.ttf");
}

* {
  box-sizing: border-box;
}

:root {
  font-size: 18px;
  color: var(--text-primary);
  --background: var(--ctp-macchiato-base);
  --surface: var(--ctp-macchiato-mantle);
  --text-primary: var(--ctp-macchiato-text);
  --text-border: var(--ctp-macchiato-lavender);
  --accent: var(--ctp-macchiato-lavender);
}

body {
  margin: 0;
  padding: 0;

  min-height: 100vh;
  min-width: 100%;
  background-color: var(--surface);
  font-family: 'Symbols Only', 'Courier New', Courier, monospace;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  padding: 1.2em;
  background-color: var(--background);
}

header a, a:visited {
  font-size: 1.2em;
  text-decoration: none;
  color: var(--text-primary);
}

header a:hover {
  opacity: 0.8;
}

header a:active {
  opacity: 0.7;
}

main {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5em;
  background-color: var(--background);
}

button {
  padding: 10px 25px;
  color: var(--ctp-macchiato-lavender);
  background-color: var(--surface);
  border: 2px solid var(--ctp-macchiato-lavender);
  border-radius: 10px;
  font-size: 1em;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.7;
}

/*Books-main*/

.booksGrid {
    height:80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px;
    gap: 16px;
}

.bookPreviewContainer {
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid var(--ctp-macchiato-lavender);
    border-radius: 20px;
    gap: 5px;
}

.bookPreviewContainer label {
    max-width: 130px;
    height: 2.5em;
    overflow: hidden;
}

.bookCoverContainer {
    width: 158px;
    height: 220px;
    border: 0px;
    border-radius: 12px;
}

/* Books-main - AddBook*/

.addBook-button {
    position: fixed;
    bottom: 30px;
    right: 52px;
    width: 70px;
    height: 70px;
    padding: 0;
    margin: 0;
    background-color: var(--ctp-macchiato-peach);
    border: none;
    border-radius: 35px;
 }

.addBook-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -50%);
    color: white;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Symbols Only';
}

.addBook-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.addBook-modal-in {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: var(--background);
    border: solid var(--ctp-macchiato-peach) 2px;
    border-radius: 14px;
    gap: 5px;
}

.addBook-modal label {
    font-weight: bold;
}

.addBook-button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.addBook-modal button {
    width: 80px;
    padding: 10px 0;
    background-color: var(--background);
}

/* Books-main - AddBook*/

.removeBook-button {
    position: fixed;
    bottom: 105px;
    right: 32px;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    background-color: var(--ctp-macchiato-maroon);
    border: none;
    border-radius: 35px;
 }

.removeBook-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -50%);
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Symbols Only';
}

.removeBook-conf {
    right: 92px;
    background-color: var(--ctp-macchiato-green);
}

.removeBook-decl {
    right: 32px;
    background-color: var(--ctp-macchiato-red);
}

.removeBook-checkbox {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
    background-color: var(--ctp-macchiato-red);
}

/* Reader */

.heading {
    font-size: 26px;
}

.endnote-link,
.endnote-link a {
    font-size: 14px;
    font-style: italic;
}

.endnote-link a {
    color: lightblue !important;
}

@media screen and (max-width: 515px){
    .booksGrid {
    }
}
